@(form: Form[BloodTestForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

@main("Submit blood test results") {
  <h1>Submit blood test results</h1>

  <p>here you can check if your blood test result are in the norm value</p>

      @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @helper.form(postUrl) {
      @helper.CSRF.formField

      @helper.inputText(form("Test Name"))

      @helper.inputText(form("Blood Test Result"))

      <button>test Results</button>
    }

   @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
        <div>@name: @value</div>
    }

}
