@(thresholds: Seq[BloodTestThreshold])

  @main("BloodTestThreshold") {

    <h1>BloodTestThresholds</h1>

    <table>
      <thead>
        <tr><th>Test Name</th><th>Category</th><th>Threshold</th>
      </thead>
      <tbody>
      @for(t <- thresholds) {
        <tr>
          <td>@t.testName</td>
          <td>@t.category</td>
          <td>@t.threshold</td>
        </tr>
      }
      </tbody>
    </table>
  }